includes:
  - ./vendor/larastan/larastan/extension.neon


parameters:

  paths:
    - src

  # The level 8 is the highest level
  level: 6

  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - '#Method [a-zA-Z\\\<\>]+::handle\(\) should return bool\|null but returns int.#'

  noUnnecessaryCollectionCall: false
  checkModelProperties: false
  reportUnmatchedIgnoredErrors: false
